<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FRADULENT TRANSACTION DETECTION</title>
    <link rel="stylesheet" href="static/css/styles.css">
</head>
<body>
        <form action="/main" method="post"></form>
        <div class="nav">
            <a href="/mm">Transaction Validator</a>
            <a href="/insights">Fraud Insights</a>
            <a href="/Faqs">FAQ</a>
            <a href="/logout">Logout</a>
        </div>
    <div class="container">
        <h1>Identifying How Fraudulent Transactions Works</h1>
        <p>
            Our system utilizes <strong>machine learning algorithms such as XGMBoost,Ensemble models</strong> to detect fraudulent transactions.  
            It analyzes transaction patterns, amounts, and account balances to identify risks.
        </p>
        <p>
            Use the navigation bar above to check transactions, visualize fraud trends etc..
        </p>
    </div>
    <div class="footer">
        &copy; 2025 Fraud Detection System | All Rights Reserved
    </div>
</body>
</html>
